<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SettlementContainer" connectionString="metadata=res://*/Settlement.csdl|res://*/Settlement.ssdl|res://*/Settlement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SalesmenSettlementDev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Application" connectionString="Data Source=.;Initial Catalog=SalesmenSettlementDev;Persist Security Info=True;User ID=sa;Password=123456"/>
  </connectionStrings>
</configuration>